/* All generals */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #848181;
  color: #fff;
  padding: 0 auto;
}

hr {
  margin: 22px;
  padding: 3px;
  background-color: aqua;
}
.btn {
  display: inline-block;
  background-color: #ff5733;
  color: #fff;
  font-size: 18px;
  padding: 5px 10px;
  border: none;
  border-radius: 7px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  margin-bottom: 15px;
}
.btn:hover {
  background-color: rgb(118, 204, 232);
}
/* navbar */
.navbar {
  background-image: linear-gradient(rgb(142, 142, 219), rgb(107, 228, 107));
}
/* .text-success {
  font-size: 20px;
} */

p {
  font-size: 16px;
}
.p1 {
  margin-left: 15px;
}

/* Home page CSS */
span.welcome {
  margin: 10px;
  font-family: "Belanosima", sans-serif;
  font-family: "Bungee Spice", cursive;
  font-family: "Foldit", cursive;
  font-family: "Kalam", cursive;
}
.welcome {
  font-size: 35px;
}
.m-3 {
  padding: 20px 150px;
}
.h4 {
  font-family: "Roboto", Arial, sans-serif;
  font-display: auto;
}
/* About us */
.mv {
  height: 100%;
  width: 100%;
}
.names {
  font-size: 18px;
}
.pet-taker-images {
  height: 230px;
  width: 100%;
}
.employee {
  height: 100%;
  width: 100%;
}

/* Services */

.service-image {
  width: 100%;
  height: 40vh;
}

/* Adoption */
.adoption {
  margin: 0;
  padding: 0;
}

img.adoption-image {
  height: 550px;
  width: 70%;
}
.adoption-image1 {
  height: 400px;
  width: 100%;
}
.a {
  height: 500px;
  width: 100%;
}
blockquote {
  margin-bottom: 5px;
  margin-top: 10px;
  color: #000000;
  font-size: 20px;
}
/* some of our companions */
.card-img-top {
  height: 30vh;
  width: 100%;
}

/* Product pages */
.review-stars {
  font-size: 25px;
  color: #ffd700; /* Golden yellow color */
}
.product-img {
  height: 380px;
  width: 100%;
}

/* contact CSS */
.google-map {
  margin-top: 20px;
  height: 50vh;
}
.google-map iframe {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  /* position: absolute; */
}

/* footer */
#footer {
  background-image: linear-gradient(rgb(142, 142, 219), rgb(107, 228, 107));
}

/* MEDIA QUERY  for body*/
@media (min-width: 0) {
  /* All generals */
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #848181;
    color: #fff;
    padding: 5px;
  }
  .main-body {
    margin: 20px;
  }
}
@media (max-width: 100px) {
  /* All generals */
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #848181;
    color: #fff;
    padding: 5px;
  }
  .main-body {
    margin: 10px;
    padding: 15px;
  }
}
@media (max-width: 200px) {
  /* All generals */
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #848181;
    color: #fff;
    padding: 20px;
  }
  .main-body {
    margin: 15px;
    padding: 50px;
  }
}

@media (min-width: 992px) {
  #navbarSupportedContent {
    display: block;
    flex-direction: row;
    justify-content: space-between;
  }
  .navbar-expand-lg {
    justify-content: flex-start;
    flex-flow: wrap;
  }
  .main-body {
    margin: 2px;
    padding: 10px 220px;
  }
}

@media (max-width: 992px) {
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #848181;
    color: #fff;
    padding: 5px;
  }
  .main-body {
    margin: 5px;
    padding: 5px 30px;
  }
}

@media (max-width: 1440px) {
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #848181;
    color: #fff;
    padding: 5px;
  }
  .main-body {
    margin: 5px;
  }
}

/* JavaScript images */
.jsImages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product {
  width: calc(33.33% - 20px); /* Three items in a row with some spacing */
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.jsImages {
  max-width: 100%;
  height: auto;
}

/* media query for JS products */

@media (max-width: 768px) {
  /* Media query for smaller screens */
  .product {
    width: calc(50% - 20px); /* Two items in a row with some spacing */
  }
}

/* Media query for even smaller screens */
@media (max-width: 576px) {
  .product {
    width: 100%; /* Single item in a row */
  }
}

/* JavaScript Adoption certificate image */
#showContent {
  background-color: #e90a0a;
  font-size: 24px;
  padding: 20px;
  margin: 15px;
  border-radius: 7px;
}

/*  Using JS to make carasole to slide image itself  */
div #imageSlider img {
  height: 50vh;
  width: 100%;
}

.img-flip {
  display: flex;
  /* justify-content: center; */
}

/* Bootstrap carousel */
img {
  height: 50vh;
  width: 100%;
}
