/* All generals */

/* navbar */

/* Home page CSS */
span.welcome {
  margin: 10px;
  font-family: "Belanosima", sans-serif;
  font-family: "Bungee Spice", cursive;
  font-family: "Foldit", cursive;
  font-family: "Kalam", cursive;
}

/* .home-background {
  background-image: url(./images/cat\ and\ dog.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
} */

.welcome {
  font-size: 35px;
}
.logo-name {
  font-family: "Foldit", cursive;
  font-family: "Kalam", cursive;
  font-family: "Playfair", serif;
  font-family: "Roboto", sans-serif;
  font-family: "Source Code Pro", monospace;
  font-family: "Bungee Spice", cursive;
  /* margin-right: 280px; */
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 992px) {
  #navbarSupportedContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.img-fluid {
  margin: 20px;
  width: 22vw;
  height: 40vh;
}
.adoption-image {
  height: 20vw;
  width: 30vw;
}
.adoption-button {
  background-color: hwb(93 13% 14%);
  border-radius: 10px;
  margin-bottom: 15px;
}
.certificate {
  height: 20vh;
  width: 30vw;
}

/* contact CSS */
.google-map {
  margin-top: 20px;
  height: 400px;
}

.google-map iframe {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  /* position: absolute; */
}
.contact-page {
  background-color: rgb(224, 230, 230);
}

/* footer */
#footer {
  background-color: rgb(144, 148, 148);
}
.navbar {
  background-image: linear-gradient(rgb(142, 142, 219), rgb(107, 228, 107));
}
