body {
  margin: 0;
  padding: 0;
  /* background-image: url(./images/backgroundimage.jpeg); */
}

.google-map {
  margin-bottom: 30px;
  margin-top: 20px;
}

.google-map iframe {
  height: 30%;
  width: 100%;
  left: 0;
  top: 0;
  /* position: absolute; */
}
/* Home page CSS */
#home {
  margin: 0;
  padding: 0;
}
.contact-page {
  background-color: rgb(159, 204, 204);
}

/* .home-background {
  background-image: url(./images/cat\ and\ dog.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
} */

.welcome {
  font-size: 35px;
}
.logo-name {
  font-family: "Foldit", cursive;
  font-family: "Kalam", cursive;
  font-family: "Playfair", serif;
  font-family: "Roboto", sans-serif;
  font-family: "Source Code Pro", monospace;
  font-family: "Bungee Spice", cursive;
  /* margin-right: 280px; */
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 992px) {
  #navbarSupportedContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.img-fluid {
  margin: 20px;
  width: 22vw;
  height: 40vh;
}
.adoption-image {
  height: 20vw;
  width: 30vw;
}
.adoption-button {
  background-color: hwb(93 13% 14%);
  border-radius: 10px;
  margin-bottom: 15px;
}
.certificate {
  height: 20vh;
  width: 30vw;
}
